header{
	margin: auto;
	width: 634px;
	margin-bottom: 15px;
	margin-top: 25px;
	border: 2px solid black;
	border-radius: 8px;
	box-shadow: 1px 5px 5px rgba(0,0,0,0.5);

}
p{
	margin-top: 10px;
	margin-bottom: 10px;
}
.displayitem{
	display: inline;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 24px;
	padding-left: 33px;


}
.container > h2{
	font-family: sans-serif;
	text-align: center;
	margin: auto;
	width: 634px;
	padding: 5px;
	margin-bottom: 17px;
	text-shadow: 1px 5px 5px rgba(0,0,0,0.5);
	color: black;

	
}
#grid-container{
	display: grid;
	background-color:grey ;
	grid-template-columns: auto auto auto auto auto;
	padding: 15px 15px;
	grid-gap:8px;
	margin: auto;
	width: 600px;
	border: 2px solid black;
	border-radius: 15px; 
	grid-gap: 4px;
	box-shadow: 1px 5px 5px rgba(0,0,0,0.5)
	visibility:;
	
}
.grid-item  {
	background-color: black;
	padding: 5px 10px 1px 10px;
	color: green;
	text-align: center;
	font-size: 38px;
	font-weight: bold;
	border-color: black;
	border-radius: 10px;
	visibility:visible;
	font-family: sans-serif;
}
#grid-container button{
	height: 58.4px;
	width: 116.8px;
}
body{
	background-color: grey;
	overflow: auto;
}
#footer{
	
	text-align: center;
	margin: 15px auto;
	visibility: hidden;
	width: 634px;
	


	
}
#restartbtn {
	margin-top: 20px;
	margin-bottom:20px; 
	border:2px solid black;
	border-radius: 8px;
	background-color: black;
	padding: 10px 10px;
	color: green;
	font-size: 30px;
	font-weight: bold;
	box-shadow: 1px 5px 5px rgba(0,0,0,0.5);
	visibility:;

}

button:hover{
	cursor: pointer;
}
#grid-container button:active{
	background-color: 	#696969;
	opacity: 0.1;
	border-color: #696969;
}

strong{
	font-weight: bolder;
}

#footer p{
	color: black;
	font-family: sans-serif;
	font-size: 24px;
	text-shadow:  1px 5px 5px rgba(0,0,0,0.5);
	font-weight: bold;

}

.displayitem span{
	margin: 0px 6px 0px 1px;

}

#footer strong{
	padding-left: 3px;
}

#footer span{
	padding-left: 3px;
}
#top5{
	visibility: hidden;
	border-radius: 10px;
	border: 2px solid black;
	width:634px;
	margin: auto;
	
	
}
#hey:hover{
	cursor: pointer;
	font-weight: bolder;
	text-decoration: underline;
}
